{
  "url": {
    "internal": {
      "host": "0.0.0.0",
      "port": 8080
    },
    "external": {
      "host": "localhost",
      "port": 8080
    },
    "static": {
      "host": "localhost",
      "port": 8080,
      "pathname": "/public/"
    }
  },
  "SECRET_KEY": "YER A SECRET",
  "githubClientID": "",
  "githubSyncToken": "",
  "githubClientSecret": "",
  "googleAnalytics": "",
  "isSecure": false,
  "routes": {
    "serveStatic": true
  },
  "server": {
    "security": true,
    "state": {
      "cookies": {
        "parse": true,
        "failAction": "log"
      }
    },
    "plugins": {
      "models": {
        "database": {
          "poolSize": 4,
          "user": null,
          "database": "nodebugme",
          "password": null,
          "port": 5432,
          "host": "localhost",
          "ssl": false
        }
      }
    }
  }
}

